@font-face {
    font-family: "Chakra";
    src: url("../Res/ChakraPetchRegular.ttf");
}

body {
    height: 100vh;
}

* {
    gap: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
    /*transition-duration: 15s;*/
}

.external {
    overflow: hidden;
    height: 100vh;
}

.horizontal-scroll-wrapper {

    display: flex;
    flex-direction: column;

    width: 100vh;
    height: 1920px;
    transform-origin: right top;
    transform: rotate(-90deg) translate3d(0,-100vh,0);


    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    /*Помним что верх слева, а право сверху*/
    /*На заметку теперь лево справо а верх снизу*/

    background: linear-gradient(240deg, #3c3836 0%, #282828 28.53%, #1d2021 75.52%);
    width: calc(1920px*3 + 70px);
    height: 100vh;

    transform-origin: left top;
    transform: rotate(90deg) translate3d(0, -100vh, 0);

    /*border: yellow solid;*/
    /*border-left: #01ff02 solid;*/

    display: flex;
}

.menu{
    height: 100%;
    width: 100px;

    position: relative;
    z-index: 2;
}
nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;

    right: 100%;
    height: 100%;
    width: 175px;
    padding: 2em;

    transform: translateX(2em);
    transition: 0.4s transform;

    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.8);

    gap: 10px;

}
nav:hover{
    transform: translateX(98%);
}
h4{
    margin-left: -5px;
    text-align: left;
    font-family: Chakra, serif;
    color: #f9f5d7;
    font-size: 30px;
}
.menu_ell{
    width: 120px;
    height: calc(100vh/5 - 5px);

    margin-left: -10px;
    font-family: Chakra, serif;
    white-space: pre;
    color: #f9f5d7;
    background-color: #1d2021;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    transition-duration: 0.6s;

}

#contact, #about {
    height: 50px;
}
#contact{
    margin-top: 300%;
}
.menu_ell:hover{
    color: #D65D0E;
    background-color: #3c3836;
}
.active{
    background-color: #D65D0E;
}

.frame{
    position: relative;
    z-index: 1;

    height: calc(1920px*2 - 1920px/2 + 70px);
    width: 100vh;

    transform-origin: left top;
    transform: rotate(-90deg) translate3d(-100vh, 0, 0);

    /*border: black solid;*/
    /*border-top: #fb4934 solid;*/
}

#first{
    transform-origin: left top;
    transform: rotate(90deg) translate3d(-100px, -100vh, 0);

    top: 0;
    position: sticky;

    height: 100vh;
    width: 1920px;

    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
}
#left_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: red solid;*/

    margin-left: 280px;
}

h1{
    display: flex;
    flex-direction: column;
    font-family: Chakra, serif;
    font-size: 10vmin;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: #f9f5d7;

    margin-left: -100px;
    margin-top: 100px;
}
#my_photo{
    margin-left: 200px;
    margin-top: 40px;
    border-radius: 10px;
    height: 50%;
    width: 100%;
    background-image: url("../Res/DSC_4522.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
#bio{
    border: red solid;
    height: 90%;
    width: 700px;
    margin-top: 40px;
    margin-left: 200px;
}

#second{
    z-index: 3;
    margin-left: calc(1920px/2 - 100px);
    position: relative;
    background: #282828;
    box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.8);
    width: 1920px;
    height: 100%;

}

.frame1{
    position: relative;
    z-index: 0;

    height: calc(1920px*2 - 1920px/2 + 231px);
    width: 100vh;

    transform-origin: left top;
    transform: rotate(-90deg) translate3d(-100vh, calc(-1920px/2 - 200px), 0);

    /*border: black solid;*/
    /*border-top: #fb4934 solid;*/

}
#third{
    transform-origin: left top;
    transform: rotate(90deg) translate3d(calc(-1920px/2 + 270px), -100vh, 0);

    z-index: 0;
    top: calc(-1920px - 109px);
    position: sticky;

    height: 100vh;
    width: 1920px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/*Content                   Content                   Content                   Content                   Content*/
.container{
    display: flex;

    /*border: red solid;*/
}

.part_top{
    height: 50%;
    width: 100%;
    margin-top: -52%;
    justify-content: left;
}

.part_bottom{
    height: 50%;
    width: 100%;
    justify-content: right;
}

.content{
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    /*border: red solid;*/
}
h2{
    margin-top: 40px;
    color: #f9f5d7;
    font-family: Chakra, serif;
    font-size: 50px;
    margin-left: 10px;
}
#last{
    margin-left: 10px;
}
#top0{
    display: initial;
    height: 100%;
}
#top2{
    margin-top: 2.5%;
    height: 100%;
}
#top4{
    height: 80%;
}
#top6{
    height: 50%;
}
#top1{
    margin-top: 13%;
}
#top3{
    margin-top: 5%;
}
#top7{
    display: initial;
    margin-top: -8%;
    height: 100%;

}

.border-anim{
    border-radius: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #f9f5d7;
    font-family: Chakra, serif;

    height: 100%;
    width: 90%;

    margin: 0 auto;
    position: relative;
    overflow: hidden;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.border-anim:visited{
    color: #f9f5d7;
}

#top0 .border-anim{
    margin-top: 40px;
    margin-left: 20px;
}
#top1 .border-anim{
    margin-top: -20px;
}
#top3 .border-anim{
    margin-top: -40px;
}
#top5 .border-anim{
    margin-top: -60px;
}
#top7 .border-anim{
    margin-left: 15px;
}
#top4 .border-anim{
    margin-top: 50px;
}
#top6 .border-anim{
    margin-top: 25px;
}


.main-element {
    top: 1%;
    left: 1%;
    height: 98%;
    width: 97%;
    margin: auto;
    align-self: center;
    background: #272727;
    z-index: 1;

    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.border{
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    z-index: -9;
    height: 200%;
    width: 200%;
    transform: rotate(45deg);
    overflow: hidden;
    background: linear-gradient(to right, #272727 50%, #272727 5%, #f9f5d7 50%, #f9f5d7 55%, #272727 70%, #272727 100%);
    background-size: 200% auto;

    /*display: none;*/
}

.border-anim, .style .main-element{
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.border-anim:hover, .style .main-element {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.part_top .content:hover .border {
    animation: shinept 1s linear 1;
}
.part_bottom .content:hover .border{
    animation: shinept 1s linear 1;
}

@keyframes shinept {
    to {
        background-position: 200% center;
    }
}

.image{
    /*border: red solid;*/
    height: 60%;
    width: 80%;
    margin-top: -22px;
    background-position: center;
    background-size: cover;
}

#top0 .image{
    background-image: url("../Res/cor.PNG");
}
#top2 .image{
    background-image: url("../Res/nto.PNG");
    background-size: 95%;
    margin-top: -30px;
}
#top4 .image{
    background-image: url("../Res/frez.PNG");
    margin-top: -0px;
}
#top6 .image{
    background-image: url("../Res/ordi.PNG");
    height: 80%;
    margin-top: 0;
}
#top1 .image{
    background-image: url("../Res/lnmo.PNG");
    height: 80%;
    margin-top: 10px;
}
#top3 .image{
    background-image: url("../Res/Prot.PNG");
    background-size: 150%;
    margin-top: -15px;
}
#top5 .image{
    background-image: url("../Res/3d3d.PNG");
    margin-top: -18px;
}
#top7 .image{
    background-image: url("../Res/Rub.PNG");
    background-repeat: no-repeat;
    background-size: 75%;
}

.sagol{
    width: 85%;
    text-align: center;
    font-size: 20px;
}

